@font-face {
  font-family: "Benzin";
  src: url("../../fonts/Benzin-Medium.eot");
  src: local("Benzin Medium"), local("Benzin-Medium"), url("../../fonts/Benzin-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Benzin-Medium.woff2") format("woff2"), url("../../fonts/Benzin-Medium.woff") format("woff"), url("../../fonts/Benzin-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Benzin";
  src: url("../../fonts/Benzin-Regular.eot");
  src: local("Benzin Regular"), local("Benzin-Regular"), url("../../fonts/Benzin-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Benzin-Regular.woff2") format("woff2"), url("../../fonts/Benzin-Regular.woff") format("woff"), url("../../fonts/Benzin-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../../fonts/Jost-Light.eot");
  src: local("Jost Light"), local("Jost-Light"), url("../../fonts/Jost-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Jost-Light.woff2") format("woff2"), url("../../fonts/Jost-Light.woff") format("woff"), url("../../fonts/Jost-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../../fonts/Jost-Regular.eot");
  src: local("Jost Regular"), local("Jost-Regular"), url("../../fonts/Jost-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Jost-Regular.woff2") format("woff2"), url("../../fonts/Jost-Regular.woff") format("woff"), url("../../fonts/Jost-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../../fonts/SFProDisplay-Bold.eot");
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"), url("../../fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../../fonts/SFProDisplay-Bold.woff") format("woff"), url("../../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../../fonts/SFProDisplay-Semibold.eot");
  src: local("SF Pro Display Semibold"), local("SFProDisplay-Semibold"), url("../../fonts/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../../fonts/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserrat-Regular.woff2") format("woff2"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserrat-Light.woff2") format("woff2"), url("../../fonts/Montserrat-Light.woff") format("woff"), url("../../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserrat-Medium.woff2") format("woff2"), url("../../fonts/Montserrat-Medium.woff") format("woff"), url("../../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../fonts/Montserrat-SemiBold.woff") format("woff"), url("../../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  max-width: 1761px;
  width: 91.72%;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.br {
  display: none;
}

body {
  background: #f6f7f8;
}

.title {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}
.title_15 {
  font-size: 15px;
}
.title_16 {
  font-size: 16px;
}
.title_20 {
  font-size: 20px;
}
.title_24 {
  font-size: 24px;
}
.title_28 {
  font-size: 28px;
}
.title_32 {
  font-size: 32px;
}
.title_34 {
  font-size: 34px;
}
.title_36 {
  font-size: 36px;
}
.title_40 {
  font-size: 40px;
}
.title_45 {
  font-size: 45px;
}
.title_55 {
  font-size: 55px;
}
.title_60 {
  font-size: 60px;
}
.title_64 {
  font-size: 64px;
}
.title_70 {
  font-size: 59px;
}
.title_85 {
  font-size: 85px;
}

.title_active {
  color: #000000;
  transition: 0.6s;
}
.title_active:hover {
  color: #79a3ca;
  transition: 0.6s;
}
.title_link {
  text-decoration: none;
  transition: 0.6s;
}
.title_link:hover {
  text-decoration: underline;
  transition: 0.6s;
}

.title_blue {
  color: #093964;
}

.Benzin {
  font-family: "Benzin", sans-serif;
}

.Jost {
  font-family: "Jost", sans-serif;
}

.SFProDisplay {
  font-family: "SF Pro Display", sans-serif;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  padding: 3px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #d54444 0%, #ff0101 100%);
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  transition: 0.5s;
}

.button:hover {
  box-shadow: 0 0 0 0 rgba(255, 7, 7, 0.42);
  transition: 0.5s;
}

.button_animation:hover {
  transform: scale(0.9);
  transition: 0.5s;
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

.button_animation {
  animation: shadow 1.5s ease infinite;
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 7, 7, 0.42);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(55, 141, 250, 0);
  }
}
.header {
  background: #ffffff;
  position: fixed;
  transition: all 0.6s ease;
  z-index: 10;
  width: 100%;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.header_wrapper_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.header_wrapper_soc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 11%;
}
.header_wrapper_soc img {
  width: 95%;
}
.header_wrapper_soc a {
  transform: scale(1);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_wrapper_soc a:hover {
  transform: scale(1.1);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_wrapper button {
  width: 23%;
}
.header_wrapper_phone {
  display: flex;
  gap: 15px;
  align-items: center;
}
.header_wrapper_phone_img {
  width: 36px;
  height: 36px;
  animation: phoneAnim 1.5s ease infinite;
}

.header.out {
  transform: translateY(-100%);
}

.menu {
  display: none;
}

.burger-menu {
  display: none;
}

@keyframes phoneAnim {
  0% {
    background: url("../../icons/phone.svg") no-repeat no-repeat center/80%;
  }
  25% {
    background: url("../../icons/phone1.svg") no-repeat no-repeat center/80%;
  }
  50% {
    background: url("../../icons/phone2.svg") no-repeat no-repeat center/80%;
  }
  75% {
    background: url("../../icons/phone3.svg") no-repeat no-repeat center/80%;
  }
  100% {
    background: url("../../icons/phone.svg") no-repeat no-repeat center/80%;
  }
}
#hidden-checker {
  display: none;
}

.hidden-block {
  display: none;
}

.passiveIncome {
  padding-top: 180px;
}
.passiveIncome_wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  justify-items: stretch;
}
.passiveIncome_wrapper_img {
  width: 100%;
}
.passiveIncome_wrapper_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.passiveIncome_wrapper_text_btn {
  width: 60%;
}
.passiveIncome_wrapper_text_text {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.passiveIncome_wrapper_text_text_1 {
  padding-left: 30px;
}
.passiveIncome_wrapper_text_text_2 {
  padding-left: 70px;
}

.interest {
  background: url("../../img/interest_Background.png") no-repeat center/100%;
  padding: 147px 0;
}
.interest_wrapper {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
}
.interest_wrapper_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.interest_wrapper_text_line {
  background: #4f4c4d;
  height: 1px;
  width: 100%;
}
.interest_wrapper_table {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.interest_wrapper_table_colum {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
}
.interest_wrapper_table_col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.interest_wrapper_table_col_block {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.interest_wrapper_table_row {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.offer_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.offer_wrapper_line {
  background: #093964;
  height: 1px;
  width: 100%;
}
.offer_wrapper_title {
  margin-bottom: 20px;
}
.offer_wrapper_text2 {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  justify-content: flex-end;
}
.offer_wrapper_text3 {
  margin-top: 40px;
}
.offer_wrapper button {
  width: 30%;
}
.offer video {
  width: 100%;
}

.showreel_ovr .showreel_lnk_in {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.briefcase {
  margin-top: 100px;
}
.briefcase_wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.briefcase_wrapper_portfel {
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.briefcase_wrapper_portfel_title {
  width: 90%;
}
.briefcase_wrapper_portfel_blocks {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.briefcase_wrapper_portfel_blocks_block {
  background: url("../../img/briefcase/portfel.png") no-repeat center/100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 0 140px 30px;
  border-radius: 20px;
  transition: 0.5s;
}
.briefcase_wrapper_portfel_blocks_block:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.briefcase_wrapper_portfel_title2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.briefcase_wrapper_inf {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.briefcase_wrapper_inf_text {
  margin-top: -40px;
}
.briefcase_wrapper_inf img {
  width: 100%;
}

.job {
  margin-top: 100px;
}
.job_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
}
.job_wrapper_blocks {
  display: flex;
}
.job_wrapper_blocks_block {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding: 40px 20px 250px;
  width: 100%;
}
.job_wrapper_blocks_img1 {
  background: url("../../img/job/job.png") no-repeat center/100%;
}
.job_wrapper_blocks_img2 {
  background: url("../../img/job/job2.png") no-repeat center/100%;
}
.job_wrapper_blocks_img3 {
  background: url("../../img/job/job3.png") no-repeat center/100%;
}

.map {
  margin-top: 150px;
}
.map_wrapper {
  display: grid;
  grid-template-columns: 34% 63%;
  justify-content: space-between;
  justify-items: end;
}
.map_wrapper_contacts {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.map_wrapper_contacts_img {
  width: 25%;
}
.map_wrapper_contacts_cos {
  display: flex;
  gap: 15px;
}
.map_wrapper_contacts_cos img {
  width: 100%;
}
.map_wrapper_contacts_inf {
  display: flex;
  gap: 30px;
  align-items: center;
}
.map_wrapper iframe {
  width: 100%;
  height: 100%;
}
.map_line {
  background: #093964;
  height: 3px;
  width: 100%;
  margin-top: 45px;
}

.consult, .team {
  position: relative;
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.5);
}
.consult_modal, .team_modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 21px 27px;
  width: 67.28%;
  max-width: 942px;
  height: calc(95vh - 42px);
  max-height: 514px;
  border-radius: 10px;
  background: #1e3018;
}
.consult_close, .team_close {
  position: absolute;
  z-index: 5;
  height: 22px;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
.consult_close img, .team_close img {
  width: 100%;
  height: 100%;
}
.consult_wrapper, .team_wrapper {
  position: relative;
  overflow-y: auto;
  padding: 24px 51px;
  height: calc(100% - 48px);
  border: 1px solid #fff;
  border-radius: 10px;
}
.consult_image, .team_image {
  position: absolute;
  right: 9.44%;
  bottom: -4px;
  width: 18.5%;
}
.consult_image img, .team_image img {
  width: 100%;
}
.consult_content, .team_content {
  padding-top: 22px;
  width: 69%;
}
.consult_form, .team_form {
  margin-top: 23px;
  width: 54.9%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.consult_form_input, .team_form_input {
  width: calc(100% - 44px);
  height: 32px;
  padding: 12px 22px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  background: #faf9fb;
  outline: none;
}
.consult_form_input::placeholder, .team_form_input::placeholder {
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}
.consult_checkbox, .team_checkbox {
  position: absolute;
  z-index: -1;
}
.consult_label, .team_label {
  display: flex;
  width: 90.47%;
  cursor: pointer;
}
.consult_view, .team_view {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 16px;
  height: 16px;
  margin-right: 10px;
  background: #15412e;
  transition: 0.3s;
}
.consult_icon, .team_icon {
  opacity: 0;
  transition: 0.3s;
}
.consult_checkbox:checked + .consult_view .consult_icon, .consult_checkbox:checked + .consult_view .team_icon, .consult_checkbox:checked + .team_view .consult_icon, .consult_checkbox:checked + .team_view .team_icon, .team_checkbox:checked + .consult_view .consult_icon, .team_checkbox:checked + .consult_view .team_icon, .team_checkbox:checked + .team_view .consult_icon, .team_checkbox:checked + .team_view .team_icon {
  opacity: 1;
}
.consult .title_24, .team .title_24 {
  margin-top: 23px;
}
.consult .button, .team .button {
  width: 90.47%;
}

.thanks .survey_content {
  justify-content: center;
}
.thanks .title_20, .thanks .button {
  margin-top: 23px;
}

.consult.show, .team.show {
  animation: fadeIn 1s;
}

.consult.hide, .team.hide {
  animation: fadeOut 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    display: block;
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
  }
}
.getConsultation {
  margin-top: 150px;
}
.getConsultation_wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  position: relative;
}
.getConsultation_wrapper_img {
  width: 100%;
  height: 100%;
}
.getConsultation_wrapper_mail {
  position: absolute;
  right: 7%;
  top: 61%;
  width: 15%;
}
.getConsultation_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #093964;
  padding: 40px 60px;
}
.getConsultation_form span {
  color: #ffffff;
}
.getConsultation_form input {
  width: 50%;
}
.getConsultation_form_text {
  height: 71px;
}
.getConsultation_form input:focus {
  box-shadow: rgb(255, 255, 255) 0px 3px 6px, rgba(255, 255, 255, 0.47) 0px 3px 6px;
  outline: none;
  text-align: center;
}
.getConsultation_form input::placeholder {
  text-align: center;
}
.getConsultation_form ::-webkit-input-placeholder {
  text-align: center;
}
.getConsultation_form :-moz-placeholder { /* Firefox 18- */
  text-align: center;
}
.getConsultation_form ::-moz-placeholder { /* Firefox 19+ */
  text-align: center;
}
.getConsultation_form :-ms-input-placeholder {
  text-align: center;
}
.getConsultation_form button {
  width: 50%;
}
.getConsultation_form_mess {
  height: 161px;
}

.footer {
  background: #000;
  margin-top: 85px;
}
.footer_wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  padding-bottom: 27px;
}
.footer_wrapper_line {
  background: #fff;
  height: 2px;
  width: 100%;
  margin-top: 50px;
}
.footer_wrapper span {
  color: #fff;
}
.footer_wrapper a {
  color: #fff;
}
.footer_wrapper_inf {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 28%;
}
.footer_wrapper_inf_menu {
  display: flex;
  gap: 20px;
}
.footer_wrapper_inf a {
  display: flex;
  flex-direction: column;
}

.reviews {
  margin-top: 150px;
}
.reviews .slider-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: relative;
}
.reviews .slider-container .slider-items-container {
  overflow: hidden;
  flex-wrap: wrap;
  width: 100%;
}
.reviews .slider-container .slider-items-container .slider-items {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  overflow: hidden;
  flex: 1 1 auto;
}
.reviews .slider-container .slider-items-container .slider-items .slider-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 3rem;
  width: calc(90% - 20px);
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  gap: 20px;
}
.reviews .slider-container .slider-items-container .slider-items .slider-item .title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.reviews .slider-container .slider-items-container .slider-items .slider-item .circle-image {
  border-radius: 100%;
  height: 50%;
  width: 50%;
}
.reviews .slider-container .slider-control {
  position: absolute;
  top: 50%;
  z-index: 3;
}
.reviews .slider-container .slider-control.left-arrow {
  left: -3rem;
}
.reviews .slider-container .slider-control.right-arrow {
  right: -4rem;
}

.advantages {
  margin-top: 120px;
  background: #07192a;
  overflow: hidden;
}
.advantages_wrapper {
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  padding-bottom: 85px;
}
.advantages_wrapper_title {
  color: #ffffff;
  padding-top: 40px;
}
.advantages_wrapper_text {
  position: relative;
  border-radius: 20px;
  padding: 20px;
  background: #fff;
  right: -24%;
  top: -32px;
}
.advantages_wrapper_tabs {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: start;
}
.advantages_wrapper_tabs_button {
  display: grid;
  width: 100%;
  grid-template-columns: 40% 40%;
  justify-content: space-evenly;
}
.advantages_wrapper_tabs_button_button {
  border-radius: 30px;
  padding: 30px;
  backdrop-filter: blur(70px);
  background: linear-gradient(181deg, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0.2) 100%);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
  gap: 60px;
}
.advantages_wrapper_tabs_button_button span {
  color: #ffffff;
}
.advantages_wrapper_block_img {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 30px;
  width: 466px;
  height: 577px;
}
.advantages_wrapper_block_img img {
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  height: 577px;
  border-radius: 10%;
}
.advantages_wrapper_img {
  position: absolute;
  right: -6%;
  bottom: 3%;
  width: 40%;
}

.survey {
  position: relative;
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.5);
}
.survey_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  width: 84.07%;
  max-width: 1177px;
  height: 95vh;
  max-height: 514px;
  border-radius: 10px;
  background: #1e3018;
}
.survey_wrapper {
  display: none;
  justify-content: space-between;
  height: 100%;
}
.survey_wrapper:first-child {
  display: flex;
}
.survey_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
  width: 74%;
}
.survey_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.survey_header > div {
  text-align: center;
}
.survey_header .title_16 {
  margin-top: 30px;
}
.survey_header .title_20 {
  margin-top: 6px;
  width: 80%;
}
.survey_header .title_24 {
  margin-top: 14px;
}
.survey_progress {
  margin-top: 6px;
  display: block;
  border-radius: 10px;
  width: 65.9%;
  height: 9px;
}
.survey_progress::-webkit-progress-bar {
  background: #fff;
  border-radius: 10px;
}
.survey_progress::-webkit-progress-value {
  background: #fad32e;
  border-radius: 10px;
}
.survey_progress::-moz-progress-bar {
  background: #fad32e;
  border-radius: 10px;
}
.survey_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 2.9%;
}
.survey_body_item {
  position: relative;
  width: 20.41%;
}
.survey_body_item .title_16 {
  margin-top: 17px;
  text-align: center;
}
.survey_body_item_img {
  position: relative;
  padding: 50% 0;
  width: 100%;
}
.survey_body_item_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.survey_body.six {
  margin-top: 22px;
}
.survey_body.six .survey_body_item {
  width: 25.8%;
}
.survey_body.six .survey_body_item_img {
  padding: 27.61% 0;
}
.survey_body.quantity {
  margin-top: 22px;
}
.survey_body.quantity .survey_body_item {
  width: 20.32%;
}
.survey_body.quantity .survey_body_item_img {
  padding: 31.35% 0;
}
.survey_input {
  width: calc(68.31% - 36px);
  height: 18px;
  padding: 16px;
  border: 2px solid #fff;
  border-radius: 10px;
  background: none;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  outline: none;
}
.survey_input::placeholder {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}
.survey_form_radio {
  position: absolute;
  z-index: -1;
}
.survey_form_label {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
.survey_form_view {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.7%;
  height: 15.7%;
  border-radius: 100%;
  border: 1px solid #fff;
  background: #1e3018;
  transition: 0.3s;
}
.survey_form_icon {
  opacity: 0;
  transition: 0.3s;
}
.survey_form_radio:checked + .survey_form_view .survey_form_icon {
  opacity: 1;
}
.survey_body.six .survey_form_view {
  width: 12.43%;
  height: 22.52%;
}
.survey_body.quantity .survey_form_view {
  width: 14.12%;
  height: 22.52%;
}
.survey_bottom {
  display: flex;
  justify-content: end;
  gap: 1%;
  width: 89.43%;
  margin: 10px auto 31px auto;
}
.survey_bottom .button {
  width: 25.8%;
  height: 41px;
}
.survey_bottom .button_back {
  width: 12.83%;
  height: 41px;
}
.survey_bottom.first {
  justify-content: center;
  margin: 0 auto 20px auto;
}
.survey_banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 17px 35px 17px;
  width: 26%;
  border-radius: 10px;
  background: url("../img/survey/banner_bg.png") no-repeat 50%/cover;
}
.survey_banner .title {
  color: #000;
}
.survey_banner_comment {
  padding: 10px 18px;
  width: 77.12%;
  border: 2px solid #fff;
  border-radius: 10px;
  background: #fff;
}
.survey_banner_comment .title_14 {
  margin-top: 8px;
}
.survey_banner_images {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.survey_banner_discount {
  position: relative;
  padding: 12px;
  border: 2px solid #fff;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.81);
}
.survey_banner_discount img {
  position: absolute;
  top: -35px;
  right: -18px;
  width: 48%;
}
.survey_form {
  height: 100%;
}
.survey_result_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  margin: 0 auto;
  width: 55.91%;
}
.survey_result_body input {
  width: calc(100% - 32px);
}
.survey_result_body .button {
  width: 58.52%;
}
.survey_result_body .policy {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fad32e;
}
.survey_result_discount {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 49%;
}
.survey_result_discount img {
  width: 35%;
}
.survey_result_discount .title_24 {
  width: 65%;
}
.survey_result_checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.survey_result_label {
  position: relative;
  display: flex;
  width: 100%;
  cursor: pointer;
}
.survey_result_label .title {
  display: flex;
  align-items: center;
}
.survey_result_view {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 26px;
  height: 26px;
  margin-right: 10px;
  border-radius: 100%;
  border: 2px solid #fff;
  background: none;
  transition: 0.3s;
}
.survey_result_icon {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: #fff;
  transition: 0.3s;
}
.survey_result_checkbox:checked + .survey_result_view {
  border: 2px solid #fad32e;
}
.survey_result_checkbox:checked + .survey_result_view .survey_result_icon {
  background: #fad32e;
}
.survey_error {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-width: 80%;
  height: 20%;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  text-align: center;
  color: #000;
}
.survey_error:hover {
  opacity: 0;
}

.surveyImg_inf {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background: rgba(21, 65, 46, 0.76);
  padding: 45px 0;
  top: -45px;
  align-items: center;
}
.surveyImg_inf_row1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.surveyImg_inf_row1 img {
  width: 20%;
}
.surveyImg_inf_row1 span {
  text-align: center;
  width: 60%;
}
.surveyImg_inf_row1_inf {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.surveyImg_inf_row1_inf_dopMob {
  display: none;
}
.surveyImg_inf_row2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.surveyImg_inf_row2 img {
  width: 20%;
}
.surveyImg_inf_row2 span {
  text-align: center;
  width: 60%;
}
.surveyImg_inf_row2_inf {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.documents {
  padding-top: 100px;
}
.documents_container {
  position: relative;
  margin-top: 74px;
}
.documents_wrapper {
  overflow: hidden;
}
.documents_field {
  display: flex;
}
.documents_slide img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.documents_indicators {
  display: none;
}
.documents_prev, .documents_next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 2.8%;
}
.documents_prev img, .documents_next img {
  width: 100%;
}
.documents_prev {
  left: -4%;
}
.documents_next {
  right: -4%;
}
.documents .rotate {
  transform: rotate(180deg);
}

@media (max-width: 1740px) {
  .title {
    font-size: 23px;
  }
  .title_15 {
    font-size: 15px;
  }
  .title_16 {
    font-size: 15px;
  }
  .title_20 {
    font-size: 19px;
  }
  .title_28 {
    font-size: 26px;
  }
  .title_32 {
    font-size: 30px;
  }
  .title_34 {
    font-size: 31px;
  }
  .title_36 {
    font-size: 32px;
  }
  .title_40 {
    font-size: 35px;
  }
  .title_45 {
    font-size: 38px;
  }
  .title_55 {
    font-size: 50px;
  }
  .title_60 {
    font-size: 57px;
  }
  .title_64 {
    font-size: 55px;
  }
  .title_70 {
    font-size: 55px;
  }
  .title_85 {
    font-size: 70px;
  }
}
@media (max-width: 1600px) {
  .title {
    font-size: 22px;
  }
  .title_15 {
    font-size: 14px;
  }
  .title_16 {
    font-size: 15px;
  }
  .title_20 {
    font-size: 18px;
  }
  .title_28 {
    font-size: 25px;
  }
  .title_32 {
    font-size: 28px;
  }
  .title_34 {
    font-size: 28px;
  }
  .title_36 {
    font-size: 28px;
  }
  .title_40 {
    font-size: 31px;
  }
  .title_45 {
    font-size: 35px;
  }
  .title_55 {
    font-size: 45px;
  }
  .title_60 {
    font-size: 55px;
  }
  .title_64 {
    font-size: 49px;
  }
  .title_70 {
    font-size: 52px;
  }
  .title_85 {
    font-size: 62px;
  }
}
@media (max-width: 1460px) {
  .title {
    font-size: 20px;
  }
  .title_15 {
    font-size: 14px;
  }
  .title_16 {
    font-size: 14px;
  }
  .title_20 {
    font-size: 17px;
  }
  .title_28 {
    font-size: 24px;
  }
  .title_32 {
    font-size: 26px;
  }
  .title_34 {
    font-size: 26px;
  }
  .title_36 {
    font-size: 25px;
  }
  .title_40 {
    font-size: 28px;
  }
  .title_45 {
    font-size: 32px;
  }
  .title_55 {
    font-size: 40px;
  }
  .title_60 {
    font-size: 53px;
  }
  .title_64 {
    font-size: 44px;
  }
  .title_70 {
    font-size: 40px;
  }
  .title_85 {
    font-size: 55px;
  }
}
@media (max-width: 1200px) {
  .title {
    font-size: 19px;
  }
  .title_15 {
    font-size: 14px;
  }
  .title_16 {
    font-size: 14px;
  }
  .title_20 {
    font-size: 17px;
  }
  .title_28 {
    font-size: 23px;
  }
  .title_32 {
    font-size: 24px;
  }
  .title_34 {
    font-size: 24px;
  }
  .title_36 {
    font-size: 22px;
  }
  .title_40 {
    font-size: 25px;
  }
  .title_45 {
    font-size: 29px;
  }
  .title_60 {
    font-size: 51px;
  }
  .title_55 {
    font-size: 35px;
  }
  .title_64 {
    font-size: 39px;
  }
  .title_70 {
    font-size: 32px;
  }
  .title_85 {
    font-size: 47px;
  }
}
@media (max-width: 992px) {
  .title {
    font-size: 18px;
  }
  .title_15 {
    font-size: 13px;
  }
  .title_16 {
    font-size: 13px;
  }
  .title_20 {
    font-size: 16px;
  }
  .title_28 {
    font-size: 22px;
  }
  .title_32 {
    font-size: 22px;
  }
  .title_34 {
    font-size: 21px;
  }
  .title_36 {
    font-size: 20px;
  }
  .title_40 {
    font-size: 22px;
  }
  .title_45 {
    font-size: 26px;
  }
  .title_55 {
    font-size: 30px;
  }
  .title_60 {
    font-size: 49px;
  }
  .title_64 {
    font-size: 34px;
  }
  .title_70 {
    font-size: 54px;
  }
  .title_85 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 17px;
  }
  .title_15 {
    font-size: 13px;
  }
  .title_16 {
    font-size: 13px;
  }
  .title_20 {
    font-size: 15px;
  }
  .title_28 {
    font-size: 21px;
  }
  .title_32 {
    font-size: 21px;
  }
  .title_34 {
    font-size: 19px;
  }
  .title_36 {
    font-size: 18px;
  }
  .title_40 {
    font-size: 19px;
  }
  .title_45 {
    font-size: 23px;
  }
  .title_55 {
    font-size: 25px;
  }
  .title_60 {
    font-size: 47px;
  }
  .title_64 {
    font-size: 29px;
  }
  .title_70 {
    font-size: 51px;
  }
  .title_85 {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 16px;
  }
  .title_15 {
    font-size: 12px;
  }
  .title_16 {
    font-size: 12px;
  }
  .title_20 {
    font-size: 14px;
  }
  .title_28 {
    font-size: 20px;
  }
  .title_32 {
    font-size: 20px;
  }
  .title_34 {
    font-size: 16px;
  }
  .title_36 {
    font-size: 16px;
  }
  .title_40 {
    font-size: 16px;
  }
  .title_45 {
    font-size: 20px;
  }
  .title_55 {
    font-size: 20px;
  }
  .title_60 {
    font-size: 45px;
  }
  .title_64 {
    font-size: 22px;
  }
  .title_70 {
    font-size: 48px;
  }
  .title_85 {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .burger-menu {
    display: inline;
  }
  .burger-menu button {
    width: 95%;
    height: 45px;
    margin: 23px 0;
  }
  .burger-menu_nav_links {
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 30px;
  }
  .header_wrapper_btn, .header_wrapper_links {
    display: none;
  }
  .header_wrapper_phone span {
    display: none;
  }
  @import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700");
  .burger-menu_button {
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 13;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .burger-menu_button:hover .burger-menu_lines {
    filter: brightness(0.7);
  }
  .burger-menu_lines::before,
  .burger-menu_lines::after,
  .burger-menu_lines {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #ce4444;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burger-menu_lines::before {
    content: "";
    top: -12px;
  }
  .burger-menu_lines::after {
    content: "";
    top: 12px;
  }
  .burger-menu_active .burger-menu_lines {
    background-color: transparent;
  }
  .burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
    background-color: #093964;
  }
  .burger-menu_active .burger-menu_lines::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: #093964;
  }
  .burger-menu_nav {
    padding-top: 25px;
    position: fixed;
    top: 0;
    z-index: 11;
    display: flex;
    flex-flow: column;
    height: fit-content;
    width: 100%;
    background-color: #ffffff;
    overflow-y: auto;
    right: -100%;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    align-items: center;
  }
  .burger-menu_active .burger-menu_nav {
    right: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .burger-menu_link:hover {
    filter: brightness(0.9);
  }
  .burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  .burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .header_wrapper_logo {
    width: 8%;
  }
  .header_wrapper_logo img {
    width: 100%;
  }
  .header_wrapper_soc {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header_wrapper_soc img {
    width: 80%;
  }
  .header_wrapper_phone {
    gap: 0;
  }
  .block {
    position: relative;
  }
  .hidden-block {
    display: inline;
    width: fit-content;
    padding: 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    opacity: 0;
    margin-top: 10px;
    position: absolute;
    top: 90%;
    left: 41%;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  #hidden-checker {
    display: none;
  }
  #hidden-checker:checked + .block {
    position: static;
  }
  #hidden-checker:checked ~ .hidden-block {
    opacity: 1;
  }
  .block-toggler {
    position: relative;
  }
  .block-toggler:before {
    color: #fff;
  }
}
@media (max-width: 768px) {
  .header_wrapper_logo {
    width: 8%;
  }
  .header_wrapper_logo img {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .header_wrapper_logo {
    width: 16%;
  }
  .header_wrapper_logo img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .passiveIncome {
    padding-top: 80px;
  }
  .passiveIncome_wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
  .passiveIncome_wrapper_img {
    width: 100%;
  }
  .passiveIncome_wrapper_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
  }
  .passiveIncome_wrapper_text_btn {
    width: 100%;
    height: 55px;
    margin-top: 14px;
  }
  .passiveIncome_wrapper_text_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .passiveIncome_wrapper_text_text_2 {
    font-size: 12px;
  }
}
@media (max-width: 1550px) {
  .interest_wrapper_table {
    gap: 17px;
  }
  .interest_wrapper_table_col {
    gap: 15px;
  }
  .interest_wrapper_table_col_block {
    padding: 30px;
    gap: 10px;
  }
  .interest_wrapper_table_row {
    padding: 30px;
    gap: 10px;
  }
}
@media (max-width: 1440px) {
  .interest {
    padding: 120px 0;
  }
  .interest_wrapper_table_col_block {
    padding: 15px;
  }
  .interest_wrapper_table_row {
    padding: 15px;
  }
}
@media (max-width: 1200px) {
  .interest {
    padding: 100px 0;
  }
  .interest_wrapper_table {
    gap: 10px;
  }
  .interest_wrapper_table_col {
    gap: 8px;
  }
  .interest_wrapper_table_col_block {
    padding: 10px;
    gap: 5px;
  }
  .interest_wrapper_table_row {
    padding: 10px;
    gap: 5px;
  }
}
@media (max-width: 992px) {
  .interest {
    padding: 50px 0;
  }
  .interest_wrapper {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
  .interest_wrapper_table {
    gap: 10px;
  }
  .interest_wrapper_table_colum {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .interest_wrapper_table_col {
    gap: 10px;
  }
  .interest_wrapper_table_col_block {
    padding: 10px;
    gap: 5px;
  }
  .interest_wrapper_table_row {
    padding: 10px;
    gap: 5px;
  }
  .interest_wrapper_text {
    gap: 17px;
  }
  .interest_wrapper_text h2 br {
    display: none;
  }
}
@media (max-width: 992px) {
  .offer_wrapper {
    gap: 20px;
  }
  .offer_wrapper_title {
    margin-bottom: 0;
  }
  .offer_wrapper_text2 {
    margin-bottom: 20px;
    justify-content: flex-start;
  }
  .offer_wrapper_text3 {
    margin-top: 16px;
    width: 77%;
  }
  .offer_wrapper button {
    width: 100%;
    height: 55px;
  }
}
@media (max-width: 1750px) {
  .briefcase_wrapper_portfel {
    gap: 55px;
  }
  .briefcase_wrapper_portfel_title {
    width: 90%;
  }
  .briefcase_wrapper_portfel_blocks {
    gap: 15px;
  }
  .briefcase_wrapper_portfel_blocks_block {
    gap: 15px;
    padding: 30px 0 140px 30px;
  }
  .briefcase_wrapper_portfel_title2 {
    gap: 10px;
  }
}
@media (max-width: 1550px) {
  .briefcase_wrapper_portfel {
    gap: 45px;
  }
  .briefcase_wrapper_portfel_title {
    width: 90%;
  }
  .briefcase_wrapper_portfel_blocks {
    gap: 15px;
  }
  .briefcase_wrapper_portfel_blocks_block {
    gap: 15px;
    padding: 20px 0 120px 20px;
  }
  .briefcase_wrapper_portfel_title2 {
    gap: 10px;
  }
}
@media (max-width: 1440px) {
  .briefcase_wrapper_portfel {
    gap: 45px;
  }
  .briefcase_wrapper_portfel_title {
    width: 90%;
  }
  .briefcase_wrapper_portfel_blocks {
    gap: 15px;
  }
  .briefcase_wrapper_portfel_blocks_block {
    gap: 10px;
    padding: 20px 0 90px 20px;
  }
  .briefcase_wrapper_portfel_title2 {
    gap: 10px;
  }
}
@media (max-width: 1260px) {
  .briefcase_wrapper_portfel {
    gap: 45px;
  }
  .briefcase_wrapper_portfel_title {
    width: 100%;
  }
  .briefcase_wrapper_portfel_blocks {
    gap: 15px;
  }
  .briefcase_wrapper_portfel_blocks_block {
    gap: 10px;
    padding: 20px 0 65px 20px;
  }
  .briefcase_wrapper_portfel_title2 {
    gap: 10px;
  }
}
@media (max-width: 1070px) {
  .briefcase_wrapper_portfel {
    gap: 45px;
  }
  .briefcase_wrapper_portfel_title {
    width: 100%;
  }
  .briefcase_wrapper_portfel_blocks {
    gap: 15px;
  }
  .briefcase_wrapper_portfel_blocks_block {
    gap: 10px;
    padding: 20px 0 45px 10px;
  }
  .briefcase_wrapper_portfel_title2 {
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .briefcase {
    margin-top: 50px;
  }
  .briefcase_wrapper_portfel {
    gap: 25px;
  }
  .briefcase_wrapper_portfel_title {
    width: 100%;
  }
  .briefcase_wrapper_portfel_blocks {
    gap: 15px;
    display: flex;
    flex-direction: column;
  }
  .briefcase_wrapper_portfel_blocks_block {
    gap: 10px;
    padding: 20px 0 45px 10px;
  }
  .briefcase_wrapper_portfel_title2 {
    gap: 10px;
  }
  .briefcase_wrapper_inf {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .briefcase_wrapper_inf_text {
    margin-top: -10px;
  }
  .briefcase_wrapper_inf img {
    width: 100%;
  }
}
@media (max-width: 1440px) {
  .job {
    margin-top: 100px;
  }
  .job_wrapper {
    gap: 33px;
  }
  .job_wrapper_blocks_block {
    gap: 33px;
    padding: 40px 20px 170px;
  }
}
@media (max-width: 1200px) {
  .job {
    margin-top: 100px;
  }
  .job_wrapper {
    gap: 33px;
  }
  .job_wrapper_blocks_block {
    gap: 10px;
    padding: 30px 20px 80px;
  }
}
@media (max-width: 992px) {
  .job {
    margin-top: 100px;
  }
  .job_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
  }
  .job_wrapper_blocks {
    display: flex;
    flex-direction: column;
  }
  .job_wrapper_blocks_block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 3px 0 156px 0;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .map {
    margin-top: 50px;
  }
  .map_wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .map_wrapper_contacts {
    gap: 20px;
  }
  .map_wrapper_contacts_img {
    width: 25%;
  }
  .map_wrapper_contacts_cos {
    display: flex;
    gap: 15px;
  }
  .map_wrapper_contacts_cos img {
    width: 100%;
  }
  .map_wrapper_contacts_inf {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .map_wrapper iframe {
    width: 100%;
    height: 100%;
  }
  .map_line {
    background: #093964;
    height: 3px;
    width: 100%;
    margin-top: 45px;
  }
}
@media (max-width: 992px) {
  .consult_modal, .team_modal {
    padding: 16px 15px;
    width: calc(100% - 30px);
    max-width: none;
    height: calc(65vh - 32px);
    max-height: none;
  }
  .consult_close, .team_close {
    top: 17px;
    right: 17px;
  }
  .consult_wrapper, .team_wrapper {
    padding: 17px 16px;
    height: calc(100% - 34px);
  }
  .consult_image, .team_image {
    right: 6%;
    bottom: -4px;
    width: 17.62%;
  }
  .consult_content, .team_content {
    padding-top: 33px;
    width: 100%;
  }
  .consult_form, .team_form {
    margin-top: 20px;
    width: 100%;
  }
  .consult_form_input, .team_form_input {
    height: 24px;
  }
  .consult_label, .team_label {
    width: 100%;
  }
  .consult .title_24, .team .title_24 {
    margin-top: 3px;
  }
  .consult .title_24, .consult .title_40, .team .title_24, .team .title_40 {
    text-align: center;
  }
  .consult .button, .team .button {
    width: 100%;
  }
}
@media (max-width: 1600px) {
  .getConsultation_wrapper {
    grid-template-columns: 40% 60%;
  }
  .getConsultation_wrapper_mail {
    right: 7%;
    top: 61%;
    width: 14%;
  }
  .getConsultation_form {
    gap: 30px;
    padding: 40px 60px;
  }
  .getConsultation_form input {
    width: 60%;
  }
  .getConsultation_form button {
    width: 60%;
  }
}
@media (max-width: 1440px) {
  .getConsultation_wrapper {
    grid-template-columns: 40% 60%;
  }
  .getConsultation_wrapper_mail {
    right: 7%;
    top: 61%;
    width: 12%;
  }
  .getConsultation_form {
    gap: 30px;
    padding: 40px 60px;
  }
  .getConsultation_form input {
    width: 65%;
  }
  .getConsultation_form button {
    width: 65%;
  }
}
@media (max-width: 1200px) {
  .getConsultation_wrapper {
    grid-template-columns: 40% 60%;
  }
  .getConsultation_wrapper_mail {
    right: 4%;
    top: 74%;
    width: 12%;
  }
  .getConsultation_form {
    gap: 30px;
    padding: 40px 60px;
  }
  .getConsultation_form input {
    width: 70%;
  }
  .getConsultation_form button {
    width: 70%;
  }
}
@media (max-width: 992px) {
  .getConsultation {
    margin-top: 50px;
  }
  .getConsultation_wrapper {
    display: flex;
    flex-direction: column;
  }
  .getConsultation_wrapper_mail {
    display: none;
  }
  .getConsultation_form {
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 17px;
  }
  .getConsultation_form span {
    color: #ffffff;
  }
  .getConsultation_form input {
    width: 100%;
  }
  .getConsultation_form_text {
    height: 45px;
  }
  .getConsultation_form button {
    width: 100%;
    height: 55px;
    font-size: 16px;
  }
  .getConsultation_form_mess {
    height: 85px;
  }
}
@media (max-width: 1490px) {
  .footer {
    background: #000;
    margin-top: 85px;
  }
  .footer_wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding-bottom: 27px;
  }
  .footer_wrapper_line {
    background: #fff;
    height: 2px;
    width: 100%;
    margin-top: 50px;
  }
  .footer_wrapper_inf {
    gap: 23%;
  }
}
@media (max-width: 992px) {
  .footer {
    margin-top: 50px;
  }
  .footer_wrapper_line {
    margin-top: 25px;
  }
  .footer_wrapper_inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
  }
}
@media (max-width: 1520px) {
  .advantages {
    margin-top: 120px;
    background: #07192a;
    overflow: hidden;
  }
  .advantages_wrapper {
    display: flex;
    flex-direction: column;
    gap: 45px;
    position: relative;
    padding-bottom: 85px;
  }
  .advantages_wrapper_title {
    color: #ffffff;
    padding-top: 40px;
  }
  .advantages_wrapper_text {
    position: relative;
    border-radius: 20px;
    padding: 20px;
    background: #fff;
    right: -12%;
    top: -32px;
  }
  .advantages_wrapper_tabs {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: start;
  }
  .advantages_wrapper_tabs_button {
    display: grid;
    width: 100%;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
  }
  .advantages_wrapper_tabs_button_button {
    border-radius: 30px;
    padding: 30px;
    backdrop-filter: blur(70px);
    background: linear-gradient(181deg, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0.2) 100%);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    gap: 60px;
  }
  .advantages_wrapper_tabs_button_button span {
    color: #ffffff;
  }
  .advantages_wrapper_block_img {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    border-radius: 30px;
    width: 466px;
    height: 577px;
  }
  .advantages_wrapper_block_img img {
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    height: 577px;
    border-radius: 10%;
  }
  .advantages_wrapper_img {
    position: absolute;
    right: -6%;
    bottom: 3%;
    width: 34%;
  }
}
@media (max-width: 992px) {
  .documents {
    padding-top: 50px;
  }
  .documents_container {
    margin-top: 18px;
  }
  .documents_prev, .documents_next {
    display: none;
  }
  .documents_indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-top: 38px;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  .documents_dot {
    height: 7px;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
  }
  .documents_active {
    background: #093964;
  }
  .documents .title_64 {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .survey_modal {
    width: 100%;
    max-width: none;
    max-height: none;
  }
  .survey_content {
    width: 100%;
  }
  .survey_header {
    width: 87.5%;
    margin: 0 auto;
  }
  .survey_header .title_16 {
    margin-top: 14px;
  }
  .survey_header .title_20 {
    margin-top: 13px;
    width: 100%;
  }
  .survey_progress {
    margin-top: 14px;
    width: 100%;
  }
  .survey_body {
    gap: 19px 6%;
  }
  .survey_body_item {
    width: 37.82%;
  }
  .survey_body_item .title_16 {
    margin-top: 10%;
  }
  .survey_body.six {
    margin-top: 22px;
  }
  .survey_body.six .survey_body_item {
    width: 42.62%;
  }
  .survey_body.six .survey_body_item_img {
    padding: 27.44% 0;
  }
  .survey_body.six.mono {
    margin-top: 14px;
  }
  .survey_body.six.mono .survey_body_item {
    width: 64.42%;
  }
  .survey_body.quantity {
    margin-top: 14px;
  }
  .survey_body.quantity .survey_body_item {
    width: 34.93%;
  }
  .survey_body.quantity .survey_body_item_img {
    padding: 31.19% 0;
  }
  .survey_input {
    width: calc(90% - 36px);
    font-size: 12px;
  }
  .survey_input::placeholder {
    font-size: 12px;
  }
  .survey_form_label {
    gap: 17px;
  }
  .survey_bottom {
    justify-content: space-between;
    gap: 2.56%;
    width: 90%;
    margin: 25px auto 33px auto;
  }
  .survey_bottom .button {
    width: 59%;
  }
  .survey_bottom .button_back {
    width: 32%;
  }
  .survey_bottom.first {
    margin: 28px auto 43px auto;
  }
  .survey_bottom.first .button {
    width: 80%;
  }
  .survey_banner {
    display: none;
  }
  .survey_result_body {
    width: 87.5%;
  }
  .survey_result_body .button {
    width: 84.61%;
  }
  .survey_result_discount {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
  }
  .survey_result_discount img {
    width: 43%;
  }
  .survey_result_discount .title_24 {
    padding-left: 30px;
    padding-bottom: 10px;
    width: calc(57% - 30px);
  }
  .survey_result_view {
    min-width: 16px;
    height: 16px;
    margin-right: 7px;
  }
  .survey_result_icon {
    width: 12px;
    height: 12px;
  }
  .surveyImg img {
    width: 100%;
    height: 300px;
  }
  .surveyImg_btn {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 25%;
    height: 51px;
    font-size: 20px;
  }
  .surveyImg_title {
    position: absolute;
    left: 16%;
    top: 10%;
    text-align: center;
    right: 16%;
  }
  .surveyImg_inf {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    background: rgba(21, 65, 46, 0.76);
    padding: 45px 0;
    top: -45px;
  }
  .surveyImg_inf_row1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .surveyImg_inf_row1 img {
    width: 17%;
    height: auto;
  }
  .surveyImg_inf_row1 span {
    text-align: center;
    width: 60%;
  }
  .surveyImg_inf_row1_inf {
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
  }
  .surveyImg_inf_row2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .surveyImg_inf_row2 img {
    width: 17%;
    height: auto;
  }
  .surveyImg_inf_row2 span {
    text-align: center;
    width: 60%;
  }
  .surveyImg_inf_row2_inf {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .surveyImg img {
    width: 100%;
    height: 300px;
  }
  .surveyImg_btn {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 25%;
    height: 51px;
    font-size: 20px;
  }
  .surveyImg_title {
    position: absolute;
    left: 16%;
    top: 10%;
    text-align: center;
    right: 16%;
  }
  .surveyImg_inf {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    background: rgba(21, 65, 46, 0.76);
    padding: 45px 0;
    top: -45px;
  }
  .surveyImg_inf_row1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .surveyImg_inf_row1 img {
    width: 17%;
    height: auto;
  }
  .surveyImg_inf_row1 span {
    text-align: center;
    width: 60%;
  }
  .surveyImg_inf_row1_inf {
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
  }
  .surveyImg_inf_row1_inf_dopMob {
    display: none;
  }
  .surveyImg_inf_row2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .surveyImg_inf_row2 img {
    width: 17%;
    height: auto;
  }
  .surveyImg_inf_row2 span {
    text-align: center;
    width: 60%;
  }
  .surveyImg_inf_row2_inf {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .surveyImg img {
    width: 100%;
    height: 300px;
  }
  .surveyImg_btn {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 32%;
    height: 48px;
    font-size: 18px;
  }
  .surveyImg_title {
    position: absolute;
    left: 21%;
    top: 12%;
    text-align: center;
    right: 22%;
  }
  .surveyImg_inf {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    background: rgba(21, 65, 46, 0.76);
    padding: 30px 0;
    top: -30px;
  }
  .surveyImg_inf_row1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .surveyImg_inf_row1 img {
    width: 20%;
    height: auto;
  }
  .surveyImg_inf_row1 span {
    text-align: center;
    width: 80%;
  }
  .surveyImg_inf_row1_inf {
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
  }
  .surveyImg_inf_row1_inf_dop {
    display: none;
  }
  .surveyImg_inf_row1_inf_dopMob {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .surveyImg_inf_row1_inf_dopMob img {
    width: 17%;
    height: auto;
  }
  .surveyImg_inf_row1_inf_dopMob span {
    text-align: center;
    width: 70%;
  }
  .surveyImg_inf_row2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .surveyImg_inf_row2 img {
    width: 20%;
    height: auto;
  }
  .surveyImg_inf_row2 span {
    text-align: center;
    width: 80%;
  }
  .surveyImg_inf_row2_inf {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}
.hide {
  display: none;
}

.show {
  display: block;
  transition: 1s;
}

.flex {
  display: flex;
}

.trans-5 {
  transition: 0.5s all;
}

.trans-30 {
  transition: 3s all;
}

@media (max-width: 768px) {
  .container {
    width: 86.94%;
  }
  .pageUp {
    width: 37px;
    height: 37px;
  }
}

/*# sourceMappingURL=style.css.map */
