@media (max-width:1520px) {
  .advantages{
    margin-top: 120px;
    background: #07192a;
    overflow: hidden;
    &_wrapper{
      display: flex;
      flex-direction: column;
      gap: 45px;
      position: relative;
      padding-bottom: 85px;
      &_title{
        color: #ffffff;
        padding-top: 40px;
      }
      &_text{
        position: relative;
        border-radius: 20px;
        padding: 20px;
        background: #fff;
        right: -12%;
        top: -32px;
      }
      &_tabs{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: start;
        &_button{
          display: grid;
          width: 100%;
          grid-template-columns: 40% 40%;
          justify-content: space-evenly;
          &_button{
            border-radius: 30px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            width: 100%;
            gap: 60px;
            span{
              color: #ffffff;
            }
          }
        }
      }
      &_block{
        &_img{
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
          background: #fff;
          border-radius: 30px;
          width: 466px;
          height: 577px;
          img{
            width: 100%;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
            background: #fff;
            height: 577px;
            border-radius: 10%;
          }
        }
      }
      &_img{
        position: absolute;
        right: -6%;
        bottom: 3%;
        width: 34%;
      }
    }
  }
}
@media (max-width:1440px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
  .advantages{
    margin-top: 50px;
    &_wrapper{
      gap: 30px;
      padding-bottom: 85px;
      &_text{
        position: relative;
        border-radius: 20px;
        padding: 20px;
        background: #fff;
        right: -15%;
        top: -32px;
      }
      &_tabs{
        display: flex;
        flex-direction: column;
        &_button{
          display: grid;
          width: 100%;
          grid-template-columns: 48% 48%;
          justify-content: space-between;
          &_button{
            padding: 15px;
            margin-bottom: 10px;
            width: 100%;
            gap: 15px;
            justify-content: space-between;
            svg{
              width: 40%;
              height: 40%;
            }
            span{
              color: #ffffff;
            }
          }
        }
      }
      &_block{
        &_img{
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
          background: #fff;
          border-radius: 30px;
          width: 100%;
          height: 358px;
          position: relative;
          z-index: 2;
          img{
            width: 100%;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
            background: #fff;
            height: 100%;
            border-radius: 10%;
          }
        }
      }
      &_img{
        position: absolute;
        right: -10%;
        bottom: 3%;
        width: 100%;
        z-index: 1;
      }
    }
  }
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}


