@media (max-width:1720px) {
    .consult {
        &_modal {
            transform: translate(-50%, -50%);
            padding: 0 50px 0;
            width: 90%;
            max-width: 1766px;;
            height: calc(95vh - 42px);
            max-height: 993px;;
            background: #ffffff;
        }
        &_close {
            position: absolute;
            z-index: 5;
            height: 22px;
            top: 24px;
            right: 24px;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &_wrapper {
            overflow-y: auto;
            height: calc(90% - 48px);
            display: flex;
            gap: 15px;
        }
        &_image {
            width: 60%;
            img {
                width: 100%;
            }
        }
        &_content {
            padding-top: 40px;
            margin-left: 30px;
            width: 69%;
            display: flex;
            flex-direction: column;

            &_title{
                margin-bottom: 30px;
            }
            &_text{
                margin-bottom: 20px;
                width: 90%;
            }
        }
        &_form {
            margin-top: 23px;
            width: 74.9%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            &_input {
                width: calc(100% - 44px);
                height: 32px;
                padding: 12px 22px;
                border-radius: 10px;
                font-weight: 400;
                font-size: 20px;
                color: rgba(0, 0, 0, 0.6);
                background: #faf9fb;
                outline: none;
                border: none;
                &::placeholder {
                    font-weight: 400;
                    font-size: 20px;
                    color: rgba(0, 0, 0, 0.6);
                }
                &_dop{
                    height: 161px;
                }
            }
        }
        &_view {
            min-width: 16px;
            height: 16px;
            margin-right: 10px;
        }
        .title_24 {
            margin-top: 23px;
        }
        .button {
            width: 100%;
        }
    }
    }
@media (max-width:1600px) {
    .consult {
        &_modal {
            transform: translate(-50%, -50%);
            padding: 0 50px 0;
            width: 90%;
            max-width: 1766px;;
            height: calc(95vh - 42px);
            max-height: 993px;;
            background: #ffffff;
        }
        &_close {
            position: absolute;
            z-index: 5;
            height: 20px;
            top: 24px;
            right: 24px;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &_wrapper {
            overflow-y: auto;
            height: calc(100% - 48px);
            display: flex;
            gap: 10px;
        }
        &_image {
            width: 60%;
            img {
                width: 100%;
            }
        }
        &_content {
            padding-top: 20px;
            margin-left: 15px;
            width: 69%;
            display: flex;
            flex-direction: column;

            &_title{
                margin-bottom: 15px;
            }
            &_text{
                margin-bottom: 10px;
                width: 90%;
            }
        }
        &_form {
            margin-top: 23px;
            width: 74.9%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            &_input {
                width: calc(100% - 44px);
                height: 28px;
                padding: 10px 20px;
                border-radius: 10px;
                font-size: 15px;
                &_dop{
                    height: 100px;
                }
            }
        }
        &_view {
            min-width: 16px;
            height: 16px;
            margin-right: 10px;
        }
        .title_24 {
            margin-top: 23px;
        }
        .button {
            width: 100%;
        }
    }
}
@media (max-width:1440px) {
    .consult {
        &_modal {
            height: calc(95vh - 42px);
        }
    }
}
@media (max-width: 1260px) {
    .consult {
        &_modal {
            height: calc(95vh - 42px);
        }
        &_image {
            width: 70%;
            img {
                width: 100%;
            }
        }
    }
}
@media (max-width: 1060px) {
    .consult {
        &_modal {
            height: calc(95vh - 42px);
        }
        &_image {
            width: 70%;
            img {
                width: 100%;
            }
        }
    }
    .text-field__input {
        height: calc(1.5rem + 2px);
        line-height: 1;

    }
}
@media (max-width: 992px) {
    .consult{
        &_modal {
            padding: 16px 15px;
            width: calc(100% - 30px);
            max-width: none;
            height: calc(75vh - 32px);
            max-height: none;
        }
        &_close {
            top: 17px;
            right: 17px;
        }
        &_wrapper {
            padding: 17px 16px;
            height: calc(100% - 34px);
        }
        &_image {
            right: 6%;
            bottom: -4px;
            width: 17.62%;
        }
        &_content {
            padding: 0;
            margin: 0;
            width: 100%;
            &_title{
                margin-bottom: 15px;
            }
            &_text{
                margin-bottom: 10px;
                width: 100%;
            }
            button{
                height: 50px;
            }
        }
        &_form {
            margin-top: 20px;
            width: 100%;
            &_input {
                height: 24px;
            }
        }
        &_label {
            width: 100%;
        }
        .title_24 {
            margin-top: 3px;
        }
        .title_24, .title_40 {
            text-align: center;

        }
        .button {
            width: 100%;
        }
        .consult_image{
            display: none;
        }
    }     
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}
