@media (max-width: 992px) {
  .faq_wrapper_tabs{
    display: none;
  }
  .mySwiper{
    display: inline;
    padding-top: 20px;
  }
  .faq{
    margin-top: 50px;
  }

}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}


