@media (max-width:1750px) {

}
@media (max-width:1600px) {

}
@media (max-width:1440px) {
  .job{
    margin-top: 100px;
    &_wrapper{
      gap: 33px;
      &_blocks{
        &_block{
          gap: 33px;
          padding: 40px 20px 170px;
          .title_36 {
            font-size: 20px;
          }
          .title_20 {
            font-size: 13px;
            background:  linear-gradient(
                            185deg,
                            rgb(255, 255, 255),
                            rgba(255, 0, 0, 0) 85.71%);

          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .job{
    margin-top: 100px;
    &_wrapper{
      gap: 33px;
      &_blocks{
        &_block{
          gap: 10px;
          padding: 30px 20px 150px;
          .title_36 {
            font-size: 20px;
          }
          .title_20 {
            font-size: 13px;
            background:  linear-gradient(
                            185deg,
                            rgb(255, 255, 255),
                            rgba(255, 0, 0, 0) 85.71%);

          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .job{
    margin-top: 50px;
    &_wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 33px;
      &_blocks{
        display: flex;
        flex-direction: column;
        gap: 20px;
        &_block{
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 10px 10px 190px ;
          width: calc(100% - 20px);
        }
      }
    }
  }
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}


