@media (max-width:1720px) {

}
@media (max-width:1600px) {

}
@media (max-width:1440px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
	.survey {
        &_modal {
            width: 100%;
            max-width: none;
            max-height: none;
        }
        &_content {
            width: 100%;
        }
        &_header {
            width: 87.5%;
            margin: 0 auto;
            .title_16 {
                margin-top: 14px;
            }
            .title_20 {
                margin-top: 13px;
                width: 100%;
            }
        }
        &_progress {
            margin-top: 14px;
            width: 100%;
        }
        &_body {
            gap: 19px 6%;
            &_item {
                width: 37.82%;
                .title_16 {
                    margin-top: 10%;
                }
            }
        }
        &_body.six {
            margin-top: 22px;
            .survey_body_item {
                width: 42.62%;
            }
            .survey_body_item_img {
                padding: 27.44% 0;
            }
        }
        &_body.six.mono {
            margin-top: 14px;
            .survey_body_item {
                width: 64.42%;
            }
        }
        &_body.quantity {
            margin-top: 14px;
            .survey_body_item {
                width: 34.93%;
            }
            .survey_body_item_img {
                padding: 31.19% 0;
            }
        }
        &_input {
            width: calc(90% - 36px);
            font-size: 12px;
            &::placeholder {
                font-size: 12px;
            }
        }
        &_form {
            &_label {
                gap: 17px;
            }
        }
        &_bottom {
            justify-content: space-between;
            gap: 2.56%;
            width: 90%;
            margin: 25px auto 33px auto;
            .button {
                width: 59%;
            }
            .button_back {
                width: 32%;
            }
        }
        &_bottom.first {
            margin: 28px auto 43px auto;
            .button {
                width: 80%;
            }
        }
        &_banner {
            display: none;
        }
        &_result {
            &_body {
                width: 87.5%;
                .button {
                    width: 84.61%;
                }
            }
            &_discount {
                display: flex;
                justify-content: center;
                align-items: end;
                width: 100%;
                img {
                    width: 43%;
                }
                .title_24 {
                    padding-left: 30px;
                    padding-bottom: 10px;
                    width: calc(57% - 30px);
                }
            }
            &_view {
                min-width: 16px;
                height: 16px;
                margin-right: 7px;
            }
            &_icon {
                width: 12px;
                height: 12px;
            }
        }
    }
  .surveyImg{
    img{
      width: 100%;
      height: 300px;
    }
    &_btn{
      position: absolute;
      left: 20%;
      right: 20%;
      top: 25%;
      height: 51px;
      font-size: 20px;
    }
    &_title{
      position: absolute;
      left: 16%;
      top: 10%;
      text-align: center;
      right: 16%;
    }
  }
  .surveyImg_inf{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    background: rgba(21, 65, 46, 0.76);
    padding: 45px 0;
    top: -45px;

    &_row1{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      img{
        width: 17%;
        height: auto;
      }
      span{
        text-align: center;
        width: 60%;
      }
      &_inf{
        display: flex;
        flex-direction: column;
        gap: 1px;
        align-items: center;
      }
    }
    &_row2{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      img{
        width: 17%;
        height: auto;
      }
      span{
        text-align: center;
        width: 60%;
      }
      &_inf{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
      }
    }
  }
}
@media (max-width: 768px) {
  .surveyImg{
    img{
      width: 100%;
      height: 300px;
    }
    &_btn{
      position: absolute;
      left: 20%;
      right: 20%;
      top: 25%;
      height: 51px;
      font-size: 20px;
    }
    &_title{
      position: absolute;
      left: 16%;
      top: 10%;
      text-align: center;
      right: 16%;
    }
  }
  .surveyImg_inf{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    background: rgba(21, 65, 46, 0.76);
    padding: 45px 0;
    top: -45px;

    &_row1{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      img{
        width: 17%;
        height: auto;
      }
      span{
        text-align: center;
        width: 60%;
      }
      &_inf{
        display: flex;
        flex-direction: column;
        gap: 1px;
        align-items: center;
        &_dopMob{
          display: none;
        }
      }
    }
    &_row2{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      img{
        width: 17%;
        height: auto;
      }
      span{
        text-align: center;
        width: 60%;
      }
      &_inf{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
      }
    }
  }
}
@media (max-width: 480px) {
  .surveyImg{
    img{
      width: 100%;
      height: 300px;
    }
    &_btn{
      position: absolute;
      left: 15%;
      right: 15%;
      top: 32%;
      height: 48px;
      font-size: 18px;
    }
    &_title{
      position: absolute;
      left: 21%;
      top: 12%;
      text-align: center;
      right: 22%;
    }
  }
  .surveyImg_inf{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    background: rgba(21, 65, 46, 0.76);
    padding: 30px 0;
    top: -30px;

    &_row1{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      img{
        width: 20%;
        height: auto;
      }
      span{
        text-align: center;
        width: 80%;
      }
      &_inf{
        display: flex;
        flex-direction: column;
        gap: 1px;
        align-items: center;
        &_dop{
          display: none;
        }
        &_dopMob{
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          img{
            width: 17%;
            height: auto;
          }
          span{
            text-align: center;
            width: 70%;
          }
        }
      }
    }
    &_row2{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      img{
        width: 20%;
        height: auto;
      }
      span{
        text-align: center;
        width: 80%;
      }
      &_inf{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
      }
    }
  }
}
