.faq{
  margin-top: 100px;
  position: relative;
  .faq_wrapper_tabs_blocks_faqRotate{
    position: absolute;
    background: none;
    border: none;
    right: 2%;
    top: 45%;
    transform: rotate(180deg);
  }
  .faq_wrapper_tabs_blocks_faq{
    position: absolute;
    background: none;
    border: none;
    left: 2%;
    top: 45%;

  }
  &_wrapper{
    &_title{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &_tabs{
      display: flex;
      flex-direction: column;
      align-items: center;
      &_button{
        display: flex;
        gap: 30px;
        button{
          background: #d9d9d9;
          width: 236px;
          height: 6px;
          border: none;
        }
      }
      &_blocks{
        margin-top: 60px;
        margin-bottom: 60px;
        &_part{
          display: grid;
          grid-template-columns: 30% 30% 30%;
          justify-content: space-between;
          &_inf{
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}
.faq_dop{
  background: #093964 !important;
}
.mySwiper{
  display: none;
}
.documents_faq{
  display: none;
}