@font-face {
	font-family: 'Benzin';
	src: url('../../fonts/Benzin-Medium.eot');
	src: local('Benzin Medium'), local('Benzin-Medium'),
	url('../../fonts/Benzin-Medium.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Benzin-Medium.woff2') format('woff2'),
	url('../../fonts/Benzin-Medium.woff') format('woff'),
	url('../../fonts/Benzin-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Benzin';
	src: url('../../fonts/Benzin-Regular.eot');
	src: local('Benzin Regular'), local('Benzin-Regular'),
	url('../../fonts/Benzin-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Benzin-Regular.woff2') format('woff2'),
	url('../../fonts/Benzin-Regular.woff') format('woff'),
	url('../../fonts/Benzin-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Jost';
	src: url('../../fonts/Jost-Light.eot');
	src: local('Jost Light'), local('Jost-Light'),
	url('../../fonts/Jost-Light.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Jost-Light.woff2') format('woff2'),
	url('../../fonts/Jost-Light.woff') format('woff'),
	url('../../fonts/Jost-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Jost';
	src: url('../../fonts/Jost-Regular.eot');
	src: local('Jost Regular'), local('Jost-Regular'),
	url('../../fonts/Jost-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Jost-Regular.woff2') format('woff2'),
	url('../../fonts/Jost-Regular.woff') format('woff'),
	url('../../fonts/Jost-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SF Pro Display';
	src: url('../../fonts/SFProDisplay-Bold.eot');
	src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
	url('../../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/SFProDisplay-Bold.woff2') format('woff2'),
	url('../../fonts/SFProDisplay-Bold.woff') format('woff'),
	url('../../fonts/SFProDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'SF Pro Display';
	src: url('../../fonts/SFProDisplay-Semibold.eot');
	src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
	url('../../fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
	url('../../fonts/SFProDisplay-Semibold.woff') format('woff'),
	url('../../fonts/SFProDisplay-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../../fonts/Montserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
	url('../../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Montserrat-Regular.woff2') format('woff2'),
	url('../../fonts/Montserrat-Regular.woff') format('woff'),
	url('../../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../../fonts/Montserrat-Light.eot');
	src: local('Montserrat Light'), local('Montserrat-Light'),
	url('../../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Montserrat-Light.woff2') format('woff2'),
	url('../../fonts/Montserrat-Light.woff') format('woff'),
	url('../../fonts/Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../../fonts/Montserrat-Medium.eot');
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
	url('../../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Montserrat-Medium.woff2') format('woff2'),
	url('../../fonts/Montserrat-Medium.woff') format('woff'),
	url('../../fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../../fonts/Montserrat-SemiBold.eot');
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
	url('../../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Montserrat-SemiBold.woff2') format('woff2'),
	url('../../fonts/Montserrat-SemiBold.woff') format('woff'),
	url('../../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}